$white: #fff;	
$black: #000;	
$dark-gray: #4F4F4F;	
$gray: #767C77;	
$light-gray: rgba(196, 196, 196, 0.4);	
$yellow: #F2C94C;	
$green: #27AE60;	
$light-blue: #64A6FF;	
$light-red: #EA7E7E;	
$overlay-color: gba(0, 0, 0, 0.25); 