@import './base';
@import './colors';
@import './buttons';

body,html {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.green {
  color: $green;
}
.blue {
  color: $light-blue;
}
.red {
  color: $light-red;
}

.hero {
  max-width: 620px;
  transform: translateY(-20%);

  &_brand {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 75px;
    text-align: center;

    & div {
      display: inline;
    }
  }

  &_title {
    font-size: 45px;
    color: $black;
    font-weight: 800;
    margin-bottom: 18px;
  }

  &_message {
    font-size: 18px;
    color: $dark-gray;
    text-align: left;
    margin-bottom: 60px;
  }
}

.pic_container{
  flex: 1;
  background-color: $green;
}